<md-bottom-sheet class="md-grid" layout="column">
  <div layout="row" layout-align="center center" ng-cloak>
    <h4>Selecteer het type bestand om toe te voegen aan {{ object.name }}:</h4>
  </div>
  <div ng-cloak layout="row" layout-align="center center">

  <div flex="100" layout="row" layout-align="center center">
    <div ng-repeat="button in buttons" >
      <input class="document-list-hidden-input" ng-attr-id="{{ 'document-input-' + convertedGuid + '-' + button.filetype }}" ng-if="uploader" aria-label="Document input"  type="file" ng-attr-accept="{{ button.accept }}" nv-file-select="" uploader="uploader"/>
      <md-button class="md-grid-item-content" ng-click="listItemClick(button.filetype)">
        <md-icon md-svg-icon="{{ button.icon }}"></md-icon>
        <div class="md-grid-text"> {{ button.name }} </div>
      </md-button>
    </div>
    <div>
       <md-button class="md-grid-item-content" ng-click="showPrompt($event)">
        <md-icon md-svg-icon="note-text"></md-icon>
        <div class="md-grid-text"> Beschrijving </div>
      </md-button>
    </div>
  </div>

  </div>

</md-bottom-sheet>