/* ================ SVG ================ */
@media only screen and (min-width : 320px) and (max-width : 595px) {
    /*--- Mobile portrait ---*/
    #svgholder {
    	height:100vh;
    	padding: 0;
        position: absolute;
        z-index: 2;
        width:100vw;
        right: 0px;
        overflow: hidden;
        top: 0px;
        background-color: white;
    }
}

@media only screen and (min-width : 595px) and (max-width : 690px) {
    /*--- Small tablet portrait ---*/
    #svgholder {
    	height:100vh;
    	padding: 0;
        position: absolute;
        z-index: 2;
        width:100vw;
        right: 0px;
        overflow: hidden;
        top: 0px;
        background-color: white;
    }

}

@media only screen and (min-width : 690px) and (max-width : 800px) {
    /*--- Tablet portrait ---*/
    #svgholder {
    	height:100vh;
    	padding: 0;
        position: absolute;
        z-index: 2;
        width:100vw;
        right: 0px;
        overflow: hidden;
        top: 0px;
        background-color: white;
    }

}

@media only screen and (min-width : 800px) and (max-width : 1024px) {
    /*--- Small tablet landscape ---*/
    #svgholder {
    	padding: 0;
        height:100vh;
        position: absolute;
        z-index: 2;
        width: 100vw;
        right: 0px;
        overflow: hidden;
        top: 0px;
        background-color: white;
    }

}

@media only screen and (min-width : 1024px) {
    /*--- Tablet landscape --- */
    #svgholder {
    	padding: 0;
        height:100vh;
        position: absolute;
        z-index: 2;
        width: 100vw;
        right: 0px;
        overflow: hidden;
        top: 0px;
        background-color: white;
    }
}

#projectcontents {
    padding-top: 50px;
}


g#planDWG path, g#planDWG circle {
    stroke: black;
    stroke-width: 20;
}

.tooltip.fade.top.in {
    z-index: 9999;
}

.tempselect {
	position: absolute;
    left: 44%;
    top: 5px;
    z-index: 10000000;
}

#rotatezselect {
	left:45%;
}

svg {
	overflow: visible !important;
}

path {
	stroke-linecap: square;
}

.svg-no-outline {
	stroke: none;
}

#planDWG>g>path, #planDWG>g>line, #planDWG>g>circle {
	fill:none;
	stroke:black;
}

#planSVG {
	overflow : visible;
	fill: none;
	stroke-width:0.05;
	stroke:black;
}

#assetSVG {
    overflow : visible;
    fill: white;
    stroke-width:0.03;
    stroke: #212121;
}

#planSVG>g {
	cursor:pointer;
}

.dimmed {
	opacity: 0.2 !important;
    transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

.planPath {
	opacity: 1.0;
	transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;


    /* Tijdelijk uitgezet door bug op MS Windows machines */
    mix-blend-mode: multiply;

    /* Test voor non scaling strokes */
    /*vector-effect:non-scaling-stroke;*/

}

.plan-asset {
    opacity: 1.0;
    transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;

    /* Test voor non scaling strokes */
    /*vector-effect:non-scaling-stroke;*/

}

.plan-object {
    opacity: 1 !important;
}


.flatt-wall, .flatt-column {
	stroke-width:0px;
	fill:black;
}

.flatt-wall-iso {
	/*fill: rgba(241, 196, 15, 1.0) !important;*/
	fill: url(#hatch00);
    stroke-width: 0.01px;
    stroke: black;
}

.flatt-door, .flatt-window, .flatt-ketel, .flatt-toilet {
	fill:rgba(255,255,255,0);
	stroke:black;
	stroke-width: 0.02px;
}

.planPath-hover {
	stroke: #FF5722;
    /*stroke-width: 0.15 !important;*/
    /*vector-effect:non-scaling-stroke;*/
    /*stroke-width: 1.5 !important;*/
}

.selected-guid {
	stroke: #FF5722;
    /*stroke-width: 0.15;*/
    /*vector-effect:non-scaling-stroke;*/
    /*stroke-width: 1.5 !important;*/
}

#selectangle {
	fill: rgba(255,255,255,0.5);
	stroke:black;
	stroke-width: 0.08;
}

.underPlan>g>g>path {
	fill:white;
	opacity:0.1;
	stroke:black;
	stroke-width:0.1px;
}

.overPlan>g>g>path {
	fill:white;
	opacity:0.7;
	stroke:black;
	stroke-width:0.1px;
}

.under-plan:hover>path, .over-plan:hover>path {
	stroke: #2ecc71;
	opacity:0.9;
	fill:#2ecc71;
	fill-opacity: 0.3;
} 

.gross {
	fill: none !important;
	stroke: black;
	stroke-width:0.05px;
}

.under-plan>path {
	opacity:1;
}

.over-plan>path {
	opacity:0.05;
	fill-opacity:0;
}

g.linescale-mm, g.linescale-mm>path, g.linescale-mm>ellipse, g.linescale-mm>circle, g.linescale-mm>line, g.linescale-mm>rect, g.linescale-mm>polyline {
	stroke-width: 10px !important;
	fill: none;
	stroke:black;
}

g.linescale-cm, g.linescale-cm>path, g.linescale-cm>ellipse, g.linescale-cm>circle, g.linescale-cm>line, g.linescale-cm>rect, g.linescale-cm>polyline {
	stroke-width: 1px !important;
	fill: none;
	stroke:black;
}

g.linescale-m, g.linescale-m>path, g.linescale-m>ellipse, g.linescale-m>circle, g.linescale-m>line, g.linescale-m>rect, g.linescale-m>polyline {
	stroke-width: 0.01px !important;
	fill: none;
	stroke:black;
}

.popover {
	max-width: 200px; 
}

.table-popover>tbody>tr>td>h6 {
    margin: 0;
    width: 100%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 200;
}

.table-popover>tbody>tr>td {
	padding: 3px;
	border-top:none;
}

.popover-title {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    width:100%;
}

.table-popover {
	margin-bottom: 0;
}

.popover-content {
	padding: 2px 3px;
}

.unlinked-asset {
    visibility: hidden;
}
