<div id="svgholder" ng-mouseup="deselectEditingElement($event)">
  
  <div ng-if="$ctrl.svgCenter" ng-style="$ctrl.svgCenter"></div>
  <div ng-if="$ctrl.spaceCenter" ng-style="$ctrl.spaceCenter"></div>
  <div ng-if="$ctrl.focalObj" ng-style="$ctrl.focalObj"></div>


  <div id="projectcontents">

  <div id="contentdiv">

    <svg id="svg" class="svg-element" width="100%" xmlns="http://www.w3.org/2000/svg" style="overflow: visible; position: relative;">

      <defs>
        <pattern id="hatch00" patternUnits="userSpaceOnUse" x="0" y="0" width="0.1" height="0.1">
          <g style="stroke:black; stroke-width:0.01;">
            <rect x="0" y="0" width="0.1" height="0.1" fill="rgba(236, 240, 241,1.0)" stroke="none"></rect>
            <path d="M0,0 L0.1,0.1"></path>
            <path d="M0,0.1 L0.1,0"></path>
          </g>
       </pattern>
      </defs>

      <g id="panzoomEl">
        <g id="viewport" ng-attr-transform="{{$ctrl.viewportHeightTransform}}">
          <g class="svgContainer" width='100%' transform="scale(1 -1)" id="svgContainer" ng-mousemove="drawRectangle($event);moveEditingElement($event)">
            <g>
              <rect id="floorplan-backdrop-rect" x="-5000" y="-5000" width="10000" height="10000" fill="rgba(0,0,0,0)" stroke="black" style="mix-blend-mode:color;"></rect>
            </g>

            <!-- <g>
              <path id="testpath" style="stroke-width: 0.02;stroke: black;fill: none;" d="M16.435,9.57 L18,7 L16.435,3.79 L20.045,8.79 L18.045,11.57 L16.435,9.57"></path>
            </g> -->

            <svg id='planSVG' compile="getSpaceSvg()"></svg>
            <svg id='objectSVG' compile="getObjectSvg()"></svg>
            <svg id='assetSVG' compile="getAssetSvg()"></svg>
            
            <svg><g id='planDWG' compile="$ctrl.dwg" ></g></svg>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
</div>