#slim-photo-landing {
	width: 100vw; 
	height: 100vh; 
	background-color: white;
	position: absolute;
	z-index: 5;
}

#slim-photo-landing-input-holder {
	margin-top: 25vh;
}

#slim-photo-logo-holder {
	margin-bottom: 5vh;
}

#slim-photo-back-to-landing {
	position: absolute;
	min-width: 100vw;
	max-height: 100px; 
	min-height: 100px; 
	background-color: transparent; 
	top: 0px;
	z-index: 6;
}