<div id="slim-photo-landing" ng-show="$ctrl.showLanding">

    <div id="slim-photo-landing-input-holder" layout="column" layout-align="center center" flex="100">

        <div id="slim-photo-logo-holder" layout="column" layout-align="center center">
            <img src="../../../img/logo-4x.png">
        </div>

        <md-input-container flex="100">
            <label>Selecteer gebouw</label>
                <md-select ng-model="$ctrl.buildingModel" ng-change="$ctrl.getStoreys()">
                <md-option ng-repeat="building in $ctrl.allBuildings | orderBy:'name'" value="{{building}}">{{building.name}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex="100" ng-show="$ctrl.buildingModel">
            <label>Selecteer verdieping</label>
                <md-select ng-model="$ctrl.storeyModel" ng-change="$ctrl.getSpaces()">
                <md-option ng-repeat="storey in $ctrl.storeys" value="{{storey}}">{{storey.name}}</md-option>
            </md-select>
        </md-input-container>

    </div>

</div>

<div id="slim-photo-back-to-landing" ng-show="!$ctrl.showLanding">
    <div layout="row" layout-align="center center">
        <md-button ng-click="$ctrl.backToSelection()">Terug naar selectie</md-button>
    </div>
</div>